@model ContatoModel;
@{
    ViewData["Title"] = "Criar";
}

<div class="text-center">  
    
    <h1 class="display-4 ">Criar Contato</h1>
     

    <br/>

</div>

<form asp-action="Criar" method="post">
  <div class="form-group">
    <label for="exampleInputEmail1">Nome do Contato:</label>
    <input type="text" class="form-control" placeholder="Enter name" asp-for="Nome">
    @Html.ValidationMessageFor(x => x.Nome)
  </div>
  <br />
  <div class="form-group">
    <label for="exampleInputEmail1">Email do Contato:</label>
    <input type="text" class="form-control" placeholder="Enter email" asp-for="Email">
    @Html.ValidationMessageFor(x => x.Email)

  </div>
  <br />
  <div class="form-group">
    <label for="exampleInputEmail1">Telefone do Contato:</label>
    <input type="text" class="form-control" placeholder="Enter phone number" asp-for="Celular">
    @Html.ValidationMessageFor(x => x.Celular)

  </div>
  <br />
  <button type="submit" class="btn btn-primary ">Criar</button>
  <a class="btn btn-secondary" asp-action="Index">Voltar</a>


</form>